@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes pan {
  from {
    top: -10px;
    left: -10px;
  }
  to {
    top: -100px;
    left: -100px;
  }
}

@keyframes side-to-side {
  from { left: 100% }
  to { left: -20% }
}

.animation-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.animation-pan {
  position: relative;
  animation-name: pan;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.animation-side-to-side {
  position: absolute;
  animation-name: side-to-side;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
